@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ewajyw');
  src:  url('fonts/icomoon.eot?ewajyw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ewajyw') format('truetype'),
    url('fonts/icomoon.woff?ewajyw') format('woff'),
    url('fonts/icomoon.svg?ewajyw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e905";
}
.icon-bottom:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
}
.icon-prev:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e900";
}
.icon-pattern:before {
  content: "\e901";
}
