@use "../base/templates" as *;
@use "../base/media" as *;

.m-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  margin: 0;

  @include laptop {
    font-size: 52px;
  }
  @include laptop-middle {
    font-size: 42px;
  }
  @include tablet {
    font-size: 36px;
  }
  @include tablet-min {
    font-size: 24px;
  }

  span {
    color: var(--primary);
  }
}

.s-title {
  margin: 0;
  line-height: 125%;
  font-size: 48px;

  @include laptop-middle {
    font-size: 36px;
  }
  @include tablet {
    font-size: 28px;
  }
  @include tablet-min {
    font-size: 22px;
  }

  span {
    color: var(--primary);
  }
}

.t-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  @include laptop-middle {
    font-size: 24px;
  }
  @include laptop-min {
    font-size: 20px;
  }
  @include tablet {
    font-size: 18px;
  }
}
.f-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  @include laptop-middle {
    font-size: 22px;
  }
  @include laptop-min {
    font-size: 20px;
  }
  @include tablet {
    font-size: 18px;
  }
}
