<aside>
  <div class="burger-wrap" id="burger-wrap">
    <div class="burger-overlay" id="burger-overlay" data-burger-close></div>
    <div class="burger" id="burger">
      <div class="burger__head">
        <div class="burger__widgets-btn">Виджеты</div>
        <div class="burger__close" data-burger-close>
          <i class="icon-close"></i>
        </div>
      </div>
      <div class="burger__widgets-wrap">
        <ul class="list burger__widgets-list">
          <li>
            <a href="#">
              <div class="item-rect">
                <i class="icon-pattern"></i>
              </div>
              <span>Колесо фортуны</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="item-rect">
                <i class="icon-pattern"></i>
              </div>
              <span>Кукисы</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="item-rect">
                <i class="icon-pattern"></i>
              </div>
              <span>Виджет отзывов</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="item-rect">
                <i class="icon-pattern"></i>
              </div>
              <span>Социальные сети</span>
            </a>
          </li>
        </ul>
      </div>
      <ul class="list burger__list">
        <li><a href="#">Тарифы</a></li>
        <li><a href="#">Агентствам</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <a href="#" target="_blank" class="burger__login-btn">
        <i class="icon-pattern"></i>
        <span>Войти</span>
      </a>
    </div>
  </div>
</aside>
