<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <p class="footer__main-content">
          Все права защищены. Копирование материалов строго по согласию
          администрации сайта.
        </p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-col">
          <div class="footer__nav-title">Сервис</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Виджеты</a></li>
            <li><a href="#">Тарифы</a></li>
            <li><a href="#">Агентствам</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__nav-col">
          <div class="footer__nav-title">Виджеты</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Колесо фортуны</a></li>
            <li><a href="#">Отзывы агрегаторов</a></li>
            <li><a href="#">Кукисы</a></li>
            <li><a href="#">Социальные сети</a></li>
          </ul>
        </div>
        <div class="footer__nav-col">
          <div class="footer__nav-title">Личный кабинет</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Зарегистрироваться</a></li>
            <li><a href="#">Войти</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© 2026 LeadKit</div>
      <ul class="list footer__bottom-list">
        <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
        <li><a href="#" target="_blank">Политика обработки персональных данных</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>