<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" class="logo-white" />
        <img src="@img/logo-dark.svg" alt="logo" class="logo-dark" />
      </a>
      <nav class="header__nav">
        <ul class="list header__list">
          <li>
            <div class="drop">
              <div class="drop-btn">
                <span>Виджеты</span>
                <i class="icon-bottom"></i>
              </div>
              <div class="drop-body">
                <div class="header__widgets-drop">
                  <div class="header__widgets-drop-title">Виджеты</div>
                  <ul class="list header__widgets-drop-list">
                    <li>
                      <a href="#">
                        <div class="item-rect">
                          <i class="icon-pattern"></i>
                        </div>
                        <span>Колесо фортуны</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="item-rect">
                          <i class="icon-pattern"></i>
                        </div>
                        <span>Кукисы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="item-rect">
                          <i class="icon-pattern"></i>
                        </div>
                        <span>Виджет отзывов</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="item-rect">
                          <i class="icon-pattern"></i>
                        </div>
                        <span>Социальные сети</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#">Тарифы</a></li>
          <li><a href="#">Агентствам</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <a href="#" target="_blank" class="header__login-btn">
        <i class="icon-pattern"></i>
        <span>Войти</span>
      </a>
      <div class="header__burger-btn" id="burger-open">
        <i class="icon-burger"></i>
      </div>
    </div>
  </div>
</header>
