<section class="s-adv sect-p _white">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Как работает
        <span>партнерская программа</span>
      </h2>
    </div>
    <div class="s-adv__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-adv__slide">
          <img src="@img/logo-primary.svg" alt="logo" class="item-logo" />
          <div class="item-title t-title">Заполнение формы</div>
          <p class="item-content">Посетитель видит яркий виджет с призами</p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/logo-primary.svg" alt="logo" class="item-logo" />
          <div class="item-title t-title">Получаете промокод</div>
          <p class="item-content">Появляется желание выиграть скидку, бонус</p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/logo-primary.svg" alt="logo" class="item-logo" />
          <div class="item-title t-title">Используйте промокод</div>
          <p class="item-content">
            Пользователь вводит свои данные и крутит колесо
          </p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/logo-primary.svg" alt="logo" class="item-logo" />
          <div class="item-title t-title">Безграничное действие промокода</div>
          <p class="item-content">
            Вы получаете тёплого лида с высокой конверсией
          </p>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
