<section class="s-adv sect-p _white">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Как работает
        <span>”название виджета”</span>
      </h2>
    </div>
    <div class="s-adv__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-adv__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Привлечение</div>
          <p class="item-content">Посетитель видит яркий виджет с призами</p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Мотивация</div>
          <p class="item-content">Появляется желание выиграть скидку, бонус</p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Действие</div>
          <p class="item-content">
            Пользователь вводит свои данные и крутит колесо
          </p>
        </div>
        <div class="swiper-slide s-adv__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Результат</div>
          <p class="item-content">
            Вы получаете тёплого лида с высокой конверсией
          </p>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
