<section class="sect-m s-connect" id="s-connect">
  <div class="container">
    <div class="s-connect__wrap">
      <div class="s-connect__info">
        <h2 class="m-title s-connect__title">
          Заполните форму и станьте
          <span>партнером</span>
        </h2>
        <img src="@img/logo-primary.svg" alt="logo" class="s-connect__logo" />
      </div>
      <div class="s-connect__form-wrap">
        <form action="#" class="s-connect__form">
          <div class="form-grid">
            <div class="form-control _full">
              <input
                type="text"
                placeholder="Название агентства"
                class="input"
              />
            </div>
            <div class="form-control _full">
              <input type="text" placeholder="Ваш город" class="input" />
            </div>
            <div class="form-control _full">
              <input type="text" placeholder="Сайт агентства" class="input" />
            </div>
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="form-control _full">
              <div class="form-checks">
                <div class="check-wrap">
                  <span class="wpcf7-form-control-wrap" data-name="f_agreement">
                    <span class="wpcf7-form-control wpcf7-acceptance">
                      <span class="wpcf7-list-item">
                        <label>
                          <input
                            type="checkbox"
                            name="f_agreement"
                            value="1"
                            aria-invalid="false"
                          />
                          <span class="wpcf7-list-item-label">
                            <span>
                              Я даю согласие на
                              <a href="#" target="_blank">
                                Обработку персональных данных
                              </a>
                            </span>
                          </span>
                        </label>
                      </span>
                    </span>
                  </span>
                </div>
                <div class="check-wrap">
                  <span class="wpcf7-form-control-wrap" data-name="f_agreement">
                    <span class="wpcf7-form-control wpcf7-acceptance">
                      <span class="wpcf7-list-item">
                        <label>
                          <input
                            type="checkbox"
                            name="f_agreement"
                            value="1"
                            aria-invalid="false"
                          />
                          <span class="wpcf7-list-item-label">
                            <span>
                              Соглашаюсь на
                              <a href="#" target="_blank">
                                Получение информационно-рекламной рассылки
                              </a>
                            </span>
                          </span>
                        </label>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-s">Отправить заявку</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
