<section class="s-faq sect-p _white" id="s-faq">
  <div class="container">
    <div class="s-faq__wrap">
      <div class="s-faq__info">
        <h2 class="s-title s-faq__title">
          <span>Отвечаем</span>
          на частые вопросы
        </h2>
        <div class="content-box _big s-faq__content">
          <p>
            Мы любим животных и стараемся поддерживать тех из них, кому не
            посчастливилось иметь ласковых хозяев и тёплый кров.
          </p>
        </div>
        <div class="s-faq__social">
          <div class="s-faq__social-text">
            <i class="icon-pattern"></i>
            <span>Онлайн поддержка</span>
          </div>
          <div class="s-faq__social-buttons">
            <a
              href="#"
              target="_blank"
              rel="nofollow"
              class="s-faq__social-btn"
            >
              Telegram
            </a>
            <a
              href="#"
              target="_blank"
              rel="nofollow"
              class="s-faq__social-btn"
            >
              Max
            </a>
          </div>
        </div>
      </div>
      <div data-spollers class="s-faq__spollers">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn _spoller-active">
            <span>
              Как установить виджет на сайт и на каких CMS и конструкторах
              доступен сервис?
            </span>
            <i class="icon-bottom"></i>
          </div>
          <div>
            <div class="content-box s-faq__spoller-content">
              <p>
                Наши виджеты можно внедрить на любые сайты, где есть возможность
                вставить наш скрипт, а это абсолютно все CMS и конструкторы.
                Легко внедряемся:
              </p>
              <ul>
                <li>Tilda</li>
                <li>1-C Битрикс</li>
                <li>Wordpress</li>
                <li>inSales</li>
                <li>Django</li>
                <li>Платформа LP</li>
                <li>и многие другие конструкторы, CMS и фреймфорки.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>
              Как установить виджет на сайт и на каких CMS и конструкторах
              доступен сервис?
            </span>
            <i class="icon-bottom"></i>
          </div>
          <div>
            <div class="content-box s-faq__spoller-content">
              <p>
                Наши виджеты можно внедрить на любые сайты, где есть возможность
                вставить наш скрипт, а это абсолютно все CMS и конструкторы.
                Легко внедряемся:
              </p>
              <ul>
                <li>Tilda</li>
                <li>1-C Битрикс</li>
                <li>Wordpress</li>
                <li>inSales</li>
                <li>Django</li>
                <li>Платформа LP</li>
                <li>и многие другие конструкторы, CMS и фреймфорки.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>
              Как установить виджет на сайт и на каких CMS и конструкторах
              доступен сервис?
            </span>
            <i class="icon-bottom"></i>
          </div>
          <div>
            <div class="content-box s-faq__spoller-content">
              <p>
                Наши виджеты можно внедрить на любые сайты, где есть возможность
                вставить наш скрипт, а это абсолютно все CMS и конструкторы.
                Легко внедряемся:
              </p>
              <ul>
                <li>Tilda</li>
                <li>1-C Битрикс</li>
                <li>Wordpress</li>
                <li>inSales</li>
                <li>Django</li>
                <li>Платформа LP</li>
                <li>и многие другие конструкторы, CMS и фреймфорки.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>
              Как установить виджет на сайт и на каких CMS и конструкторах
              доступен сервис?
            </span>
            <i class="icon-bottom"></i>
          </div>
          <div>
            <div class="content-box s-faq__spoller-content">
              <p>
                Наши виджеты можно внедрить на любые сайты, где есть возможность
                вставить наш скрипт, а это абсолютно все CMS и конструкторы.
                Легко внедряемся:
              </p>
              <ul>
                <li>Tilda</li>
                <li>1-C Битрикс</li>
                <li>Wordpress</li>
                <li>inSales</li>
                <li>Django</li>
                <li>Платформа LP</li>
                <li>и многие другие конструкторы, CMS и фреймфорки.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
