<section class="_offset-top s-hero" id="s-hero">
  <picture class="s-hero__bg">
    <img src="@img/hero-bg.jpg" alt="image" />
  </picture>
  <div class="s-hero__wrap">
    <div class="container">
      <div class="s-hero__main">
        <img src="@img/logo.svg" alt="logo" class="s-hero__logo" />
        <h1 class="m-title s-hero__title">
          Потрясающие виджеты для взрывного роста конверсии
        </h1>
        <p class="s-hero__content">
          Мы любим животных и стараемся поддерживать тех из них, кому не
          посчастливилось иметь ласковых хозяев и тёплый кров.
        </p>
        <div class="s-hero__buttons">
          <a href="#" target="_blank" class="btn-s _outline-white">Войти</a>
          <a href="#" class="btn-s _white">Получить доступ</a>
        </div>
      </div>
      <div class="s-hero__slider-wrap">
        <div class="swiper s-hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Кукисы</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Виджет отзывов</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Социальные сети</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Колесо фортуны</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Кукисы</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Виджет отзывов</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Социальные сети</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
            <div class="swiper-slide s-hero__slide">
              <a href="#" class="card-widget">
                <div class="card-widget__gallery">
                  <img src="@img/hero-slide.png" alt="image" />
                </div>
                <div class="card-widget__body">
                  <div class="card-widget__title">Колесо фортуны</div>
                  <div class="btn-s card-widget__btn">Получить доступ</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
