<section class="s-intro _offset-top" id="s-intro">
  <picture class="s-intro__bg">
    <img src="@img/intro-bg.png" alt="image" />
  </picture>
  <div class="container">
    <div class="s-intro__body">
      <img src="@img/logo-primary.svg" alt="logo" class="s-intro__logo">
      <h1 class="m-title s-intro__title">Партнерская программа для <span>агентств</span></h1>
      <div class="content-box s-intro__content _big">
        <p>
          Мы предоставляем постоянную скидку 20% на все виджеты при привлечении
          не менее трёх клиентов.
        </p>
      </div>
      <div class="s-intro__bottom">
        <a href="#" target="_blank" class="btn-s">Стать партнером</a>
      </div>
    </div>
  </div>
</section>
