<section class="sect-m s-included" id="s-included">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        <span>Что входит</span>
        в виджеты
      </h2>
      <div class="content-box _big sect-head__content">
        <p>
          Мы любим животных и стараемся поддерживать тех из них, кому не
          посчастливилось иметь ласковых хозяев и тёплый кров.
        </p>
      </div>
    </div>
    <div class="swiper s-included__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Дизайн и текст</div>
          <div class="content-box item-content">
            <p>
              Подбирайте цвета виджета под ваш фирменный стиль. Загружайте
              свои изображения в призы, триггер, колёса и указатели или
              выбирайте из библиотеки
            </p>
          </div>
        </div>
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Интеграция</div>
          <div class="content-box item-content">
            <p>
              Настройте интеграцию с Яндекс Метрикой, AmoCRM, Bitrix24,
              Webhook и другими инструментами для дальнейшей аналитики
              взаимодействия пользователей с виджетом
            </p>
          </div>
        </div>
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Дизайн и текст</div>
          <div class="content-box item-content">
            <p>
              Подбирайте цвета виджета под ваш фирменный стиль. Загружайте
              свои изображения в призы, триггер, колёса и указатели или
              выбирайте из библиотеки
            </p>
          </div>
        </div>
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Интеграция</div>
          <div class="content-box item-content">
            <p>
              Настройте интеграцию с Яндекс Метрикой, AmoCRM, Bitrix24,
              Webhook и другими инструментами для дальнейшей аналитики
              взаимодействия пользователей с виджетом
            </p>
          </div>
        </div>
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Дизайн и текст</div>
          <div class="content-box item-content">
            <p>
              Подбирайте цвета виджета под ваш фирменный стиль. Загружайте
              свои изображения в призы, триггер, колёса и указатели или
              выбирайте из библиотеки
            </p>
          </div>
        </div>
        <div class="swiper-slide s-included__slide">
          <img src="@img/star.svg" alt="icon" class="item-icon" />
          <div class="item-title t-title">Интеграция</div>
          <div class="content-box item-content">
            <p>
              Настройте интеграцию с Яндекс Метрикой, AmoCRM, Bitrix24,
              Webhook и другими инструментами для дальнейшей аналитики
              взаимодействия пользователей с виджетом
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar _lap-min"></div>
  </div>
</section>
