<section class="s-intro _offset-top" id="s-intro">
  <picture class="s-intro__bg">
    <img src="@img/intro-bg.png" alt="image">
  </picture>
  <div class="container">
    <div class="s-intro__body">
      <h1 class="m-title s-intro__title">
        Колесо Фортуны виджет, который привлекает
      </h1>
      <img src="@img/intro-img.png" alt="image" class="s-intro__img" />
      <div class="content-box s-intro__content _big">
        <p>
          Колесо Фортуны удерживает внимание аудитории через бонусную игру.
          Интегрируйте его и конвертируйте посетителей в тёплые лиды.
        </p>
      </div>
      <div class="s-intro__bottom">
        <a href="#" target="_blank" class="btn-s">Попробовать колесо</a>
        <div class="s-intro__bottom-text">Бесплатно 7 дней</div>
      </div>
      <div class="s-intro__arrows">
        <div class="item-text">Как это работает</div>
        <div class="item-arrows">
          <i class="icon-bottom"></i>
          <i class="icon-bottom"></i>
        </div>
      </div>
    </div>
  </div>
</section>
