<section class="sect-m s-offer" id="s-offer">
  <div class="container">
    <div class="s-offer__wrapper">
      <article class="s-offer__item">
        <h3 class="s-title s-offer__item-title">
          Библиотека готовых
          <span>шаблонов</span>
        </h3>
        <ul class="list list-pattern s-offer__item-list">
          <li>
            <i class="icon-pattern"></i>
            <span>
              Выбирайте шаблоны и адаптируйте их под свой проект в два клика
            </span>
          </li>
          <li>
            <i class="icon-pattern"></i>
            <span>
              Выбирайте шаблоны и адаптируйте их под свой проект в два клика
            </span>
          </li>
        </ul>
        <img src="@img/offer-1.png" alt="image" class="s-offer__item-img" />
      </article>
      <article class="s-offer__item">
        <h3 class="s-title s-offer__item-title">
          Адаптивный
          <span>дизайн</span>
        </h3>
        <ul class="list list-pattern s-offer__item-list">
          <li>
            <i class="icon-pattern"></i>
            <span>Хорошо смотрится не только на компьютере, но в телефоне</span>
          </li>
          <li>
            <i class="icon-pattern"></i>
            <span>Хорошо смотрится не только на компьютере, но в телефоне</span>
          </li>
        </ul>
        <img src="@img/offer-2.png" alt="image" class="s-offer__item-img" />
      </article>
      <article class="s-offer__item _full">
        <div class="s-offer__item-wrap">
          <img src="@img/gift.png" alt="image" class="s-offer__icon" />
          <div class="s-offer__item-body">
            <h2 class="s-title s-offer__item-body-title">
              Можно потестить <span>бесплатно</span>
            </h2>
            <div class="content-box s-offer_item-body-content _big">
              <p>
                Зарегистрируйтесь и получите 7 дней теста без ограничений
                возможностей сервиса
              </p>
            </div>
            <a href="#" class="btn-s s-offer__item-btn">Попробовать бесплатно</a>
          </div>
        </div>
        <img src="@img/circles.png" alt="image" class="s-offer__circles" />
      </article>
    </div>
  </div>
</section>
