<section class="sect-p _white s-price" id="s-price">
  <img src="@img/circles-left.png" alt="decor" class="s-price__decor _left" />
  <img src="@img/circles-right.png" alt="decor" class="s-price__decor _right" />
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">
        <span>Тарифная</span>
        сетка
      </h2>
      <div class="content-box _big sect-head__content">
        <p>
          Тарифы отличаются исключительно количеством виджетов. После
          регистрации 10 дней бесплатно. Годовая подписка окупается уже во время
          бесплатного периода.
        </p>
      </div>
    </div>
    <div class="s-price__table">
      <div class="s-price__table-nav">
        <div class="s-price__table-nav-title">Тарифы</div>
        <div class="select s-price__select">
          <div class="select-btn s-price__nav-select-btn">
            <input type="text" readonly class="select-input">
            <i class="icon-bottom select-arrow"></i>
          </div>
          <div class="s-price__select-body select-body tabs-nav">
            <div class="select-item" data-tab-btn="tab-0">1 месяц</div>
            <div class="select-item" data-tab-btn="tab-1">3 месяца</div>
            <div class="select-item" data-tab-btn="tab-2">1 Год</div>
          </div>
        </div>
      </div>
      <img src="@img/rays.png" alt="background" class="s-price__rays" />
      <div class="s-price__table-head">
        <div class="table-row">
          <div class="table-item">
            <div class="table-item-inside">Тарифы</div>
          </div>
          <div class="table-item">
            <div class="table-item-inside">1 месяц</div>
          </div>
          <div class="table-item">
            <div class="table-item-inside">3 месяца</div>
          </div>
          <div class="table-item">
            <div class="table-item-inside">1 Год</div>
          </div>
        </div>
      </div>
      <div class="s-price__table-body">
        <div class="s-price__table-row">
          <div class="table-row tabs-content">
            <div class="table-item">
              <div class="table-item-inside">
                <i class="icon-pattern"></i>
                <span>Колесо фортуны</span>
              </div>
            </div>
            <div class="table-item _active _show" data-tab="tab-0">
              <div class="table-item-inside"><span>1 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-1">
              <div class="table-item-inside"><span>2 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-2">
              <div class="table-item-inside"><span>3 000 ₽</span></div>
            </div>
          </div>
        </div>
        <div class="s-price__table-row">
          <div class="table-row tabs-content">
            <div class="table-item">
              <div class="table-item-inside">
                <i class="icon-pattern"></i>
                <span>Отзывы с агрегаторов</span>
              </div>
            </div>
            <div class="table-item _active _show" data-tab="tab-0">
              <div class="table-item-inside"><span>1 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-1">
              <div class="table-item-inside"><span>2 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-2">
              <div class="table-item-inside"><span>3 000 ₽</span></div>
            </div>
          </div>
        </div>
        <div class="s-price__table-row">
          <div class="table-row tabs-content">
            <div class="table-item">
              <div class="table-item-inside">
                <i class="icon-pattern"></i>
                <span>Кукисы</span>
              </div>
            </div>
            <div class="table-item _active _show" data-tab="tab-0">
              <div class="table-item-inside"><span>1 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-1">
              <div class="table-item-inside"><span>2 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-2">
              <div class="table-item-inside"><span>3 000 ₽</span></div>
            </div>
          </div>
        </div>
        <div class="s-price__table-row">
          <div class="table-row tabs-content">
            <div class="table-item">
              <div class="table-item-inside">
                <i class="icon-pattern"></i>
                <span>Социальные сети</span>
              </div>
            </div>
            <div class="table-item _active _show" data-tab="tab-0">
              <div class="table-item-inside"><span>1 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-1">
              <div class="table-item-inside"><span>2 000 ₽</span></div>
            </div>
            <div class="table-item" data-tab="tab-2">
              <div class="table-item-inside"><span>3 000 ₽</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
