<section class="s-referral" id="s-referral">
  <div class="s-referral__body sect-p">
    <div class="container">
      <div class="s-referral__wrap">
        <div class="s-referral__info">
          <h2 class="m-title s-referral__title">
            Партнерская программа для агентств
          </h2>
          <div class="s-referral__text">
            <i class="icon-pattern"></i>
            <span>
              Мы предоставляем постоянную скидку 20% на все виджеты при
              привлечении не менее трёх клиентов.
            </span>
          </div>
          <a href="#" class="btn-s _white s-referral__btn">Подробнее</a>
        </div>
        <img src="@img/logo.svg" alt="logo" class="s-referral__logo">
      </div>
    </div>
  </div>
</section>
