<section class="sect-m s-tariffs" id="s-tariffs">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Тарифы
        <span>“название виджета”</span>
      </h2>
      <div class="content-box sect-head__content">
        <p>
          Тарифы отличаются исключительно количеством виджетов. После
          регистрации 10 дней бесплатно. Годовая подписка окупается уже во время
          бесплатного периода.
        </p>
      </div>
    </div>
    <div class="s-tariffs__grid">
      <div class="s-tariffs__item">
        <div class="item-title">1 месяц</div>
        <div class="content-box _big item-content">
          <p>для небольших проектов и тестов</p>
        </div>
        <div class="item-price">1 000 ₽</div>
        <div class="item-price-text">в месяц</div>
        <a href="#" class="btn-s item-btn _gradient">Попробовать колесо</a>
      </div>
      <div class="s-tariffs__item _fill">
        <img src="@img/rays.png" alt="bg" class="item-bg" />
        <div class="item-title">3 месяц</div>
        <div class="content-box _big item-content">
          <p>для небольших проектов и тестов</p>
        </div>
        <div class="item-price">1 000 ₽</div>
        <div class="item-price-text">в месяц</div>
        <a href="#" class="btn-s item-btn _white">Попробовать колесо</a>
      </div>
      <div class="s-tariffs__item">
        <div class="item-title">1 год</div>
        <div class="content-box _big item-content">
          <p>для небольших проектов и тестов</p>
        </div>
        <div class="item-price">1 000 ₽</div>
        <div class="item-price-text">в месяц</div>
        <a href="#" class="btn-s item-btn _gradient">Попробовать колесо</a>
      </div>
    </div>
  </div>
</section>
