<section class="sect-p _white s-use" id="s-use">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title s-use__title">
        Где можно использовать
        <span>виджеты</span>
      </h2>
      <div class="sect-head__content content-box _big">
        <p>
          Мы любим животных и стараемся поддерживать тех из них, кому не
          посчастливилось иметь ласковых хозяев и тёплый кров.
        </p>
      </div>
    </div>
    <div class="swiper s-use__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-use__slide">
          <article class="s-use__card tilt-item">
            <img src="@img/use-icon.png" alt="icon" class="item-icon" />
            <h3 class="item-title f-title">На сайте</h3>
            <div class="content-box item-content">
              <p>
                Используйте виджет для повышения конверсии и лояльности к вашему
                бренду
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide s-use__slide">
          <article class="s-use__card tilt-item">
            <img src="@img/use-icon.png" alt="icon" class="item-icon" />
            <h3 class="item-title f-title">По QR-коду</h3>
            <div class="content-box item-content">
              <p>
                Дарите подарки и бонусы покупателям вашего заведения с помощью
                QR-кода
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide s-use__slide">
          <article class="s-use__card tilt-item">
            <img src="@img/use-icon.png" alt="icon" class="item-icon" />
            <h3 class="item-title f-title">По прямой ссылке</h3>
            <div class="content-box item-content">
              <p>
                Используйте виджет по прямой ссылке, если у вас нет сайта. В
                любых соц. сетях
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
