<section class="sect-p _white s-whom" id="s-whom">
  <div class="container">
    <img src="@img/pattern-decor.png" alt="image" class="s-whom__decor">
    <div class="s-whom__wrap">
      <div class="s-whom__info">
        <h2 class="m-title s-whom__title">
          Кому и зачем
          <br />
          нужны
          <span>виджеты</span>
        </h2>
        <div class="content-box _big s-whom__content">
          <p>
            Мы любим животных и стараемся поддерживать тех из них, кому не
            посчастливилось иметь ласковых хозяев и тёплый кров. Один из
            проверенных способов это сделать — помочь благотворительному фонду
            «Луч Добра». Благодаря их труду ежегодно сотни питомцев находят свой
            новый дом.
          </p>
        </div>
        <div class="s-whom__info-bottom">
          <a href="#" class="btn-s">Попробовать виджеты</a>
          <div class="s-whom__bottom-text">Бесплатно 7 дней</div>
        </div>
      </div>
      <div class="s-whom__items">
        <div class="s-whom__item">
          <div class="item-title t-title">Сервисам</div>
          <div class="content-box item-content">
            <p>
              Проводите акции в честь Черной Пятницы, 23 февраля, 8 марта,
              Нового года и других праздников
            </p>
          </div>
        </div>
        <div class="s-whom__item">
          <div class="item-title t-title">Магазинам</div>
          <div class="content-box item-content">
            <p>
              Раздавайте клиентам скидки и промокоды на следующие покупки после
              оформления заказа в корзине
            </p>
          </div>
        </div>
        <div class="s-whom__item">
          <div class="item-title t-title">Сайтам услуг</div>
          <div class="content-box item-content">
            <p>
              Останавливайте посетителя бонусом от компании в игровой форме,
              если он хочет уйти с сайта
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
